body, svg{
	background: #EEEEEE;
}


article{
	margin-top: 1em;
}

.axis path,
.axis line,
.domain {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text, .domain {
    
    font-size: 11px;
}